@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.divRoxa{
    background-color: rgb(155, 68, 255);
    height: 20vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 2vw;

}

.bolaRoxa{
    height: 100px;
    width: 100px;
    background-color: rgba(101, 24, 173, 0.992);
    border-radius: 50%;
}